/* @import url("public/ttf/ringus/RingusItalic-9Mm1B.ttf"); */

@font-face {
    font-family: "Ringus";
    src: url("/ttf/ringus/Ringus-lxLoV.ttf");
}

* {
  font-family: "Ringus";
}

canvas {
  position: absolute;
  background-color: #000;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}